<h1>Add a New Merchant</h1>
<form action="/merchants/show" method="POST">
  <div class="form-wrapper">

    <div class="form-el">
  <label for="name">Merchant Name:</label>
        <input type="text" name="name" id="name"/>
        </div>
        <hr>
        <div class="myButton">
        <input type="submit" value="Submit"/>
        </div>

</div>
</form>
