<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spending Tracker</title>
  </head>
  <body>
    <nav id="menu">
    <li class="menu-item"><a href='/transactions'>View Transactions</a></li>
    <li class="menu-item"><a href='/transactions/new'>New Transaction</a></li>
    <li class="menu-item"><a href='/merchants/show'>View Merchants</a></li>
  </nav>
    <p>Total Spent: £<%= @total_spent %></p>
    <%= yield %>
  </body>
</html>
