<h1>New Transaction</h1>

<form action="/transactions" method="post">
  <label>
    Choose a Merchant:
    <select name="merchant_id">
      <% for merchant in @merchants %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Choose a Tag:
    <select name="tag_id">
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.type %></option>
      <% end %>
    </select>
  </label>

  <label for="amount">Amount:</label>
  <input type="number" name="amount" step="0.01" />

  <input type="submit" value="Submit Transaction"/>

</form>
