body {
  text-align: center;
  background: #000000 none no-repeat scroll 0 0;
  font-family: Lucida, sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: darkred;
}

a:hover {
  color: salmon;
}

.tracker {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #C5F8FF;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.warning_label {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #FBFF27;
  font-weight: 700;
  text-decoration: underline solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

.details{
  color: rgb(223, 255, 220); font-size: 16px; line-height: 16px; padding: 2px; border-radius: 50px; font-family: Verdana, Geneva, sans-serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
  .details:hover {
    background: #1C6EA4; }
    .myButton:active {
      background: #144E75; }

      .menu-item {
        color: rgb(67, 255, 71); font-size: 16px; line-height: 16px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
        .myButton:hover {
          background: #1C6EA4; }
          .menu-item:active {
            background: #144E75; }

            .myButton {
              color: rgb(255, 255, 255); font-size: 16px; line-height: 16px; padding: 3px; border-radius: 50px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
              .myButton:hover {
                background: #1C6EA4; }
                .myButton:active {
                  background: #144E75; }
