<h1>Add a New Tag</h1>
<form action="/tags/show" method="POST">
  <div class="form-wrapper">

    <div class="form-el">
  <label for="type">Tag Name:</label>
        <input type="text" name="type" id="type"/>
        </div>
        <hr>
        <div class="myButton">
        <input type="submit" value="Submit"/>
        </div>

</div>
</form>
