<h2>Tags</h2>
<div class="warning_label">
  <h3>!!!WARNING!!!</h3>
</div>
<p>Deletion results in loss</p>
<p>of any transaction that use said Tag</p>
<li class="menu-item"><a href='/new_tag'>Add a Tag</a></li>

<div id="list-tags">
  <% @tags.each do |tag| %>
  <div class="tag">
    <hr>
    <h3><a href="/tags/<%= tag.id %>"></a></h3>
    <p>Type: <%= tag.type %></p>
    <form action="/tags/<%= tag.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
  </div>
  <% end %>

</div>
